@font-face {
  font-family: Gilroy;
  src: url("../fonts/Gilroy-ExtraBold.woff2"); }
@font-face {
  font-family: Gilroy-Light;
  src: url("../fonts/Gilroy-Light.woff2"); }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.woff2"); }
.content__title {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: -0.0255199px;
  text-transform: uppercase; }

.content__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.0220791px; }

.header-nav__link {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase; }

.aside-nav__link {
  font-family: Roboto;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.567739px; }

.aside-nav__link_active {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.567739px;
  text-transform: uppercase; }

.logo__title, .info__phone {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.290629px;
  text-transform: uppercase; }

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF; }

a {
  text-decoration: none;
  color: #262525; }

li {
  list-style: none; }

button {
  cursor: pointer; }

.container {
  max-width: 1872px;
  margin: 0 auto; }

.header {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 25px;
  z-index: 3; }
  .header-nav {
    margin-top: -5px; }
    .header-nav__list {
      padding: 0;
      margin: 0; }
      .header-nav__list :last-child {
        margin-right: 0; }
    .header-nav__item {
      display: inline-block;
      margin-right: 55px; }
    .header-nav__line {
      position: absolute;
      height: 4px;
      width: 0;
      margin-top: 6px;
      background-color: #D88F5E;
      transition-duration: .5s; }

.logo {
  display: flex;
  align-items: flex-start; }
  .logo__icon {
    width: 70px;
    height: 70px;
    background-color: #262525;
    margin-right: 23px; }
  .logo__title {
    color: #262525;
    margin-top: -3px; }

.info {
  display: inherit;
  align-items: inherit; }
  .info__phone {
    margin-right: 27px;
    margin-top: -3px; }

.burger-button {
  width: 70px;
  min-width: 70px;
  height: 70px;
  background-color: #262525;
  padding: 0;
  border: none; }

.page {
  display: flex;
  justify-content: space-between;
  margin: -35px 35px 0 35px; }

.aside {
  display: flex;
  align-items: center;
  min-width: 284px; }
  .aside-nav__list {
    padding: 0;
    margin: 0; }
    .aside-nav__list :last-child {
      margin-bottom: 0; }
  .aside-nav__item {
    margin-bottom: 21px; }
  .aside-nav__link {
    transition-duration: .4s;
    color: #505050;
    display: inline-block; }
    .aside-nav__link:after {
      position: relative;
      display: block;
      top: -7px;
      content: "";
      height: 9px;
      width: 0;
      background-color: #EBD8CC;
      transition: width 0.2s ease-in-out;
      z-index: -1; }
    .aside-nav__link:hover::after {
      width: 100%; }
    .aside-nav__link_active {
      color: #262525; }
      .aside-nav__link_active:after {
        width: 100%; }

.main {
  height: 840px;
  display: flex;
  width: 100%; }

.slider {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse; }
  .slider__img {
    width: 100%;
    height: 0;
    object-fit: cover;
    transition-duration: .4s; }
    .slider__img_active {
      height: 100%; }

.content {
  background-color: #F0F0F0;
  color: #262525;
  width: 50%;
  min-width: 600px; }
  .content-wrapper {
    max-width: 435px;
    margin-left: 170px;
    margin-right: 100px;
    height: 100%;
    position: relative; }
  .content__item {
    position: absolute;
    bottom: 0;
    opacity: 0%;
    transition-duration: .4s; }
    .content__item_active {
      opacity: 100%;
      bottom: 151px; }
  .content__title {
    margin-bottom: 40px; }
  .content__text {
    margin-bottom: 178px;
    max-height: 100px; }
  .content__link-detail {
    width: 28px;
    height: 28px;
    display: inline-block;
    text-align: center;
    background-color: #262525;
    color: #FFFFFF;
    vertical-align: middle;
    position: relative;
    z-index: 2; }
  .content-navigation {
    position: absolute;
    bottom: 0;
    display: flex;
    font-family: Gilroy-Light;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #505050;
    margin-bottom: 159px; }
    .content-navigation div {
      margin-right: 4px; }
    .content-navigation :last-child {
      margin-right: 0; }

.footer {
  margin-left: 35px;
  margin-top: 23px;
  font-family: Gilroy-Light;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.175729px;
  text-transform: uppercase;
  color: #505050;
  display: flex; }
  .footer div {
    margin-right: 22px; }

/*# sourceMappingURL=style.css.map */
