@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-ExtraBold.woff2");
}

@font-face {
    font-family: Gilroy-Light;
    src: url("../fonts/Gilroy-Light.woff2");
}
  
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.woff2");
}