@import "params";

body {
    margin: 0;
    padding: 0;
    background-color: $background;
}

a {
    text-decoration: none;
    color: $base;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1872px;
    margin: 0 auto;
}

.header {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 25px;
    z-index: 3;

    &-nav {
        &__list {
            padding: 0;
            margin: 0;
            :last-child {
                margin-right: 0;
            }
        }

        &__item {
            display: inline-block;
            margin-right: 56px;
        }

        &__link {
            @extend %header-menu;
        }
    }
}

.logo {
    display: flex;
    align-items: flex-start;

    &__icon {
        width: 70px;
        height: 70px;
        background-color: $base;
        margin-right: 23px;
    }

    &__title {
        @extend %special;
        color: $base;
    }
}

.info {
    display: inherit;
    align-items: inherit;

    &__phone {
        @extend %special;
        margin-right: 27px;
    }
}

.burger-button {
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-color: $base;
    border: none;
}

.page {
    display: flex;
    justify-content: space-between;
    margin: -35px 35px 0 35px
}

.aside {
    display: flex;
    align-items: center;
    width: 300px;

    &-nav {
        &__list {
            padding: 0;
            margin: 0;

            :last-child {
                margin-bottom: 0;
            }
        }

        &__item {
            margin-bottom: 32px;
        }

        &__link {
            @extend %section-menu;
            color: $text-disable;

            &_active {
                @extend %section-menu-active;
                color: $base;
            }
        }
    }
}

.main {
    width: 100%;
    display: flex;

    &__img {
        width: 100%;
        min-height: 500px;
        object-fit: cover;

        &-wrapper {
            max-width: 758px;
            width: 100%;
        }
    }
}

.content {
    background-color: $background-alt;
    color: $base;
    width: 100%;
    padding: 20px;

    &-wrapper {
        max-width: 435px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__title {
        @extend %title;
        margin-bottom: 50px
    }

    &__text {
        @extend %text;
        margin-bottom: 150px;
    }

    &__link-detail {
        width: 28px;
        height: 28px;
        display: inline-block;
        text-align: center;
        background-color: $base;
        color: $background;
        vertical-align: middle;
    }

    &-navigation {
        display: flex;
        font-family: Gilroy;
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: $text-disable;
        margin-bottom: 140px;
    }
}

.footer {
    margin-left: 23px;
    margin-top: 23px;

    &__text {
        font-family: Gilroy;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.175729px;
        text-transform: uppercase;
        color: $text-disable;
    }
}