@import "fonts";
@import "params";

body {
    margin: 0;
    padding: 0;
    background-color: $background;
}

a {
    text-decoration: none;
    color: $base;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1872px;
    margin: 0 auto;
}

.header {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 25px;
    z-index: 3;

    &-nav {
        margin-top: -5px;
        &__list {
            padding: 0;
            margin: 0;
            :last-child {
                margin-right: 0;
            }
        }

        &__item {
            display: inline-block;
            margin-right: 55px;
        }

        &__link {
            @extend %header-menu;
        }

        &__line {
            position: absolute;
            height: 4px;
            width: 0;
            margin-top: 6px;
            background-color: $accent;
            transition-duration: .5s;
        }
    }
}

.logo {
    display: flex;
    align-items: flex-start;

    &__icon {
        width: 70px;
        height: 70px;
        background-color: $base;
        margin-right: 23px;
    }

    &__title {
        @extend %special;
        color: $base;
        margin-top: -3px;
    }
}

.info {
    display: inherit;
    align-items: inherit;

    &__phone {
        @extend %special;
        margin-right: 27px;
        margin-top: -3px;
    }
}

.burger-button {
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-color: $base;
    padding: 0;
    border: none;
}

.pages__wrapper {
    margin: -35px 35px 0 35px;
}

.page {
    display: flex;
    justify-content: space-between;
    height: 0;
    opacity: 0;
    transition: opacity .4s;

    &_active {
        height: auto;
        opacity: 100%;

        .block {
            display: block;
            height: 840px;
            width: 100%;
            background-color: $background-alt;
        }
    }
}

.aside {
    display: flex;
    align-items: center;
    min-width: 284px;

    &-nav {
        &__list {
            padding: 0;
            margin: 0;

            :last-child {
                margin-bottom: 0;
            }
        }

        &__item {
            margin-bottom: 21px;
        }

        &__link {
            transition-duration: .4s;
            @extend %section-menu;
            color: $text-disable;
            display: inline-block;

            &:after {
                position: relative;
                display: block;
                top: -7px;
                content: "";
                height: 9px;
                width: 0;
                background-color: $background-accent;
                transition: width 0.2s ease-in-out;
                z-index: -1;
            }

            &:hover::after {
                width: 100%;
            }

            &_active {
                @extend %section-menu-active;
                color: $base;
                
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

.main {
    height: 840px;
    display: flex;
    width: 100%;
}

.slider {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;

    &__img {
        width: 100%;
        height: 0;
        object-fit: cover;
        transition-duration: .4s;

        &_active {
            height: 100%;
        }
    }
}

.content {
    background-color: $background-alt;
    color: $base;
    width: 50%;
    min-width: 600px;

    &-wrapper {
        max-width: 435px;
        margin-left: 170px;
        margin-right: 100px;
        height: 100%;    
        position: relative;
    }

    &__item {
        position: absolute;
        bottom: 0;
        opacity: 0%;
        transition-duration: .4s;

        &_active {
            opacity: 100%;
            bottom: 151px;
        }
    }

    &__title {
        @extend %title;
        margin-bottom: 40px;
    }

    &__text {
        @extend %text;
        margin-bottom: 178px;
    }

    &__link-detail {
        width: 28px;
        height: 28px;
        display: inline-block;
        text-align: center;
        background-color: $base;
        color: $background;
        vertical-align: middle;
        position: relative;
        z-index: 2;
    }

    &-navigation {
        position: absolute;
        bottom: 0;
        display: flex;
        font-family: Gilroy-Light;
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: $text-disable;
        margin-bottom: 159px;

        div {
            margin-right: 4px;
        }

        :last-child {
            margin-right: 0;
        }
    }
}

.footer {
    margin-left: 35px;
    margin-top: 23px;
    font-family: Gilroy-Light;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.175729px;
    text-transform: uppercase;
    color: $text-disable;
    display: flex;

    div {
        margin-right: 22px;
    }
}